.message-header {
  display: flex;
  align-items: center;
  /* font-weight: bold; */
  margin-bottom: 4px;
}

.message-header > div:first-child {
  flex: 1;
}

.message-header > div:last-child {
  margin-left: 8px;
}

.message-sender {
  font-weight: 500;
}

.message-time {
  font-size: 12px;
  font-weight: 200;
}

.message-container {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  max-width: 400px;
  word-wrap: break-word;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}