.sent-message-header {
  display: inline-flex;
  align-items: center;
  /* font-weight: bold; */
  margin-bottom: 4px;
  margin-left: 40rem;
}

.received-message-header {
  display: inline-flex;
  align-items: center;
  /* font-weight: bold; */
  margin-bottom: 4px;
}

.message-header > div:first-child {
  flex: 1;
}

.message-header > div:last-child {
  margin-left: 8px;
}

.message-sender {
  font-weight: 500;
}

.message-time {
  margin-left: 0.5rem;
  font-size: 12px;
  font-weight: 200;
}

.sent-message {
  background-color: #007AFF;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Google Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  padding: 8px;
  margin: 8px;
  margin-left: 40rem;
  max-width: 700px;
  word-wrap: break-word;
}

.received-message {
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Google Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  padding: 8px;
  margin: 8px;
  max-width: 700px;
  word-wrap: break-word;
}


.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}