.user-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list > div > :not(:last-child) {
  margin-bottom: 10px;
}
