.login-container {
  background-image: url(../../public/abc.jpeg);
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans", sans-serif;
  color: #333;
}

.login-container h1 {
  font-size: 4rem;
  margin: 0;
}

.login-container p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.login-container button {
  padding: 1rem 2rem;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
