.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-picture label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .profile-picture img {
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .profile-picture input[type="file"] {
    display: none;
  }
  
  .profile-picture button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .profile-picture button:hover {
    background-color: #2563eb;
  }
  