.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.edit-profile-input-container {
  margin-top: 30px;
  font-size: 1.2rem;
}

.edit-profile-input-container label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}

.edit-profile-input-container label span {
  margin-bottom: 10px;
}

.edit-profile-button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.edit-profile-button-container button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.save-changes-button {
  background-color: #2ecc71;
  color: white;
  border: none;
}

.save-changes-button:hover {
  background-color: #27ae60;
}

.go-back-button {
  background-color: white;
  color: #2ecc71;
  border: 2px solid #2ecc71;
}

.go-back-button:hover {
  background-color: #2ecc71;
  color: white;
}